*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(8, 7, 7);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(109, 226, 255);
}

.logo{
    font-size: 24px;
    color: rgb(0, 77, 128);
    font-weight: bold;
}

nav a{
    color: rgb(0, 77, 128);
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

nav a:hover {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

section{
    min-height: 100vh;
    padding: 100px 50px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: left;
}

.image img{
    width: 200px;
    height: 250px;
    border-radius: 5%;
    object-fit: cover;
}

.home-content h1{
    font-size: 40px;
}

#home {
    background: rgb(238, 233, 233);
}

#about {
    background: rgb(57, 115, 153);
    align-items: center;
    text-align: center;
}

#skills {
    background: rgb(255, 239, 239);
    align-items: center;
    text-align: center;
}

#projects {
    background: #6c96f0;
    align-items: center;
    text-align: center;
}

#contact {
    background: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
}

span{
    color: #4b98b7;
}


h6 {
    margin-bottom: 20px;
    color: gray;
}
p, li{
    font-size: 16px;
    margin-bottom: 10px;
}